<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mb-6">
    <div class="form-group">
        <label for="userID">Email</label>
        <input type="email" formControlName ="userID" style="width: 30%;" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userID.errors }" />
        <div *ngIf="submitted && f.userID.errors" class="invalid-feedback">
            <div *ngIf="f.userID.errors.required">Email is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="Password" style="width: 30%;" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
        <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
            <div *ngIf="f.Password.errors.required">Password is required</div>
            <div *ngIf="f.Password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>

