
<main style="background: white; margin-top: -43px;">
  <div class="container mt-5">
    <table class= "table">
      <div class="row">

          <section class="col-md-8">
            <tr *ngFor="let blogPost of blogPosts">
              <article class="blog-item" style="border-bottom: 1px solid burlywood;margin-top: -5px;">
                  <div class="row">
                      <div class="col-md-3">
                          <a>
                              <img src="http://localhost:59005/FileImage/{{blogPost.blogImages}}" class="img-thumbnail center-block" alt="EMPTY">
                          </a>
                      </div>
                      <div class="col-md-9">
                          <p>
                          </p>
                          <h1 style="font-family:monospace">
                            <a  routerLink='/detailsBlog'
                            [queryParams]="{id: blogPost.blogID}">{{blogPost.blogTitle}}</a>

                        </h1>
                          <div class="ellips-text-3">
                            <p style="font-family:monospace">{{blogPost.blogContent}} </p>
                        </div>
                        <br>
                        <a>Created on: {{blogPost.createOn |date:'medium'}}</a>
                        <a href="" style="float:right; color: red;"routerLink='/detailsBlog'
                        [queryParams]="{id: blogPost.blogID}"> 
                          {{blogPost.countCom}} Comments</a>
                      </div>
                  </div>
              </article> 
              </tr>
          </section>       
      </div>
    </table>
  </div>
  <app-page
    *ngIf="pagingModel && blogPosts.length > 0" [totalPage]="pagingModel.totalPage"
    [currentPage]="pagingModel.currentPage" [loadPage] = true>
  </app-page>
</main>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
