.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.blog-item {
    background: border-box;
    /* border: 1px solid #f1f1f1; */
    margin-bottom: 5px;
    padding: 30px;
    
}
.main{
    background: ghostwhite;
    margin-top: -48px;
}
.ellips-text-3 {
	display: -webkit-box;
	height: 62px;
	line-height: 1.2;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}
.blog-item h1 {
    font-size: 25px;
    margin-top: 10px;
}
.center-block[_ngcontent-vop-c18] {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 37px;
}
.img-thumbnail center-block{
    margin-top: 37px; 
}


