<main class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mb-6" autocomplete="off">
   <div class="cotainer">
       <div class="row justify-content-center">
           <div class="col-md-8">
               <div class="card">
                   <div class="card-header">Login</div>
                   <div class="card-body">
                    <div class="form-group">
                        <label for="userID">Email</label>
                        <input type="email" formControlName="userID" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userID.errors }" />
                        <div *ngIf="submitted && f.userID.errors" class="invalid-feedback">
                            <div *ngIf="f.userID.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="Password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                        <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                            <div *ngIf="f.Password.errors.required">Password is required</div>
                            <div *ngIf="f.Password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                           <div class="form-group col-md-6 offset-md-4">
                            <button [disabled]="loading" style="margin-left: 70px;" class="btn btn-primary">
                                   Login
                               </button>
                               <a style="margin-left: 100px;">Sign up?<a style="margin-left:5px;" routerLink="/register">Click here</a></a>
                           </div>
                   </div>
           </div>
       </div>
   </div>
</div> </form> 
</main>






<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>