<body id="designInspirationPage">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Blog's Tiep</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['gallery']" style="color: black;">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  style="color: black;" [routerLink]="['createBlog']" >Create blog</a>
           </li>
           
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a>a</a>
            <a class="nav-link " style="color: black;" [routerLink]="[]">Logout</a>
            <!-- <router-outlet></router-outlet> -->
          </li>
          </ul>
          </form>
        </div>
    </nav>
    <header class="page-head">
    </header>
    </body>
    