<main>
  <ng-container *ngIf="blogPosts">
    <div class="container">
      <div class="row">

        <section class="col-md-8">
          <article class="single-blog-item">
            <div class="list-item">
              <img src="http://localhost:59005/FileImage/{{blogPosts.blogImages}}" class="img-responsive center-block">
              <div class="col-md-8 col-md-offset-2">
              </div>
              <div class="row">
              </div>

            </div>
            <h1 style="font-family:monospace; color: #007bff;">{{blogPosts.blogTitle}}</h1>
            <p style="font-family:monospace; font-size: 20px">{{blogPosts.blogContent}}</p>
            <p style="color:indigo">Posted by: {{blogPosts.authorID}}<a style="color:teal; font-size: 22px;"></a>
              <!-- <button style="float: right; margin-left: 5px;" routerLink='/edit'
              [queryParams]="{id: blogPosts.blogID}">Edit</button>
              <button style="float: right;">Delete</button> -->
            </p>     
          </article>

          <body>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="comments">
                    <div class="comments-details">
                    </div>
                    <div class="comment-box add-comment">
                      <span class="commenter-pic">
                        <img src="../../assets/img/unnamed.jpg" class="img-fluid">
                      </span>
                      <form [formGroup]="commentForm" class="mb-6">
                        <span class="commenter-name">
                          <a *ngIf="!isLogin">Login to comment</a>
                          <input type="text" formControlName="content" name="content" required
                            placeholder="Add a public comment">
                          <small *ngIf="clickComment && commentForm.controls.content.invalid" class="text-danger">Please
                            input value</small>
                          <button *ngIf="isLogin"
                            (click)="clickComment=true;commentForm.controls.content.valid && createCom();" type="submit"
                            class="btn btn-default">Comment</button>
                          <button type="cancel" class="btn btn-default">Cancel</button>
                        </span>
                      </form>
                    </div>

                    <div *ngFor="let comment of blogPosts.comments" class="comment-box">
                      <span class="commenter-pic">
                        <img src="../../assets/img/unnamed.jpg" class="img-fluid">
                      </span>
                      <span class="commenter-name">
                        <a>{{comment.userID}}</a>
                        <span class="comment-time">
                          {{comment.creatOn |date:'medium'}}
                        </span>
                      </span>
                      <p class="comment-txt more">
                        {{comment.content}}
                      </p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </body>
        </section>
      </div>
    </div>

  </ng-container>
</main>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>