@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

/*=======================================================================
						Navigation menu
=========================================================================*/

.navbar {
	margin-bottom: 0px;
}

.navbar-default {
	background-color: #1E1E1E;
	border: none;
	box-shadow: 0px 1px 1px #A96113;
}

	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:focus,
	.navbar-default .navbar-nav > .active > a:hover {
		background-color: transparent;
		color: #fcf8e3;
	}

	.navbar-default .navbar-nav > li > a {
		color: #fcf8e3;
		font-size: 12px;
		/*text-align: center;*/
		padding-right: 0px;
		margin-left: 15px;
		text-transform: uppercase;
		letter-spacing: .75px;
		word-spacing: 2px;
		-webkit-transition: all 0.75s;
		-moz-transition: all 0.75s;
		-ms-transition: all 0.75s;
		-o-transition: all 0.75s;
		transition: all 0.0.75s;
	}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
	color: #eeeeee;
}

.navbar-default .navbar-nav>li>a:after {
	/*background-color: #eeeeee;*/
	display: block;
	position: absolute;
	left: 9px;
	bottom: 0;
	width: 0;
	height: 2px;
	content: "";
	-webkit-transition: all 0.75s;
	-moz-transition: all 0.75s;
	-ms-transition: all 0.75s;
	-o-transition: all 0.75s;
	transition: all 0.0.75s;
}

		.navbar-default .navbar-nav > .active > a:after,
		.navbar-default .navbar-nav > li > a:focus:after,
		.navbar-default .navbar-nav > li > a:hover:after {
			width: 100%;
			background-color: aliceblue;
		}

.navbar-default .navbar-nav>.active>a:hover:after {
	width: 0%;
}

.navbar-default .navbar-brand {
    padding: 7px 15px;
}

.navbar-brand>img {
    width: 155px;
}

.navbar-default .navbar-brand span:last-child {
	color: #E4840D;
    font-weight: 400;
    padding-left: 4px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #dadada;
}

.navbar-default .navbar-toggle {
	border-color: #AF6F20;
    border-radius: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #D2924C;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
	border: none;
	background-color: #ffffff;
}

.navbar-default .navbar-toggle:focus .icon-bar, 
.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #000000;
}

/*=============================================================================
								Global
================================================================================*/

body {
	background-color: #f1eeed;
	font-family: 'Courier New Courier ', sans-serif;
	font-size: 15px;
	line-height: 1.82em;
}

a {
	color: #000000;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	text-transform: capitalize;
}

h1 {
	font-size: 30px;
	line-height: 1.29em;
	margin: 0;
	/*text-shadow: 1px 1px 0 #F2F2F2,1px 2px 0 #b1b1b2;*/
}

h2 {
	font-size: 22px;
	line-height: 1.36em;
	margin-bottom: 15px; 
}

h3 {
	font-size: 20px;
}

.alert {
    border-radius: 0px;
    font-size: 14px;
}

.alert-info {
	border-left: 10px solid #77DFF5;
    color: #777777;
    padding: 0px 10px;
}

.alert-info a {
    padding: 0px 2px;
    color: #337ab7;
    text-transform: uppercase;
    font-size: 13px;
}

.alert-info a:hover, .alert-success a:hover {
	color: #000000;
}

.alert-success {
	background-color: #BEECAA;
    border-color: #9FBD86;
    border-left: 10px solid #69BD6D;
    padding: 5px 10px;
}

.alert-success a {
    color: #1B5F1C;
    font-size: 15px;
    padding: 0px 2px;
}
main {
	margin-top: 0px;
}

.label {
    padding: 1px 3px;
    border-radius: 0px;
    font-size: 13px;
    font-weight: 100;
}

.no-select {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*-------------------------------------  button  -----------------------------------*/

.btn {
	border: none;
	border-radius: 0px;
	padding: 10px 25px;
	text-transform: uppercase;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;

}

.btn-cmnt,
.btn-contact,
.btn-learn {
	background-color: #fff;
	border: 1px solid #D2924C;
	color: #D2924C;
	float: right;
	/*margin-left: 411px;
		margin-right: -578px;*/
}


.btn-cmnt:hover,
.btn-contact:hover, 
.btn-learn:hover {
	background-color: #D2924C;
	color: #ffffff;
}

.btn-learn,
.btn-contact {
	float: none;
}

/*-------------------------------------- form  -----------------------------------*/

form {
    margin-bottom: 35px;
}

.form-group {
	margin-bottom: 20px;
}

.form-control {
	background-color: #f9f9f9;
	border: 1px solid #E0E0E0;
	border-radius: 0px;
	box-shadow: none;
	height: auto;
	padding: 14px 28px;
}

textarea.form-control {
    margin-bottom: 20px;
}

input[type="checkbox"] {
    margin-top: 6px;
}

.form-control:focus {
    border-color: #DADADA;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(150, 144, 144, 0.5);
       -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(150, 144, 144, 0.5);
    	-ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(150, 144, 144, 0.5);
    	 -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(150, 144, 144, 0.5);
    		box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(150, 144, 144, 0.5);
}

::-webkit-input-placeholder {
   color: #969595;
}

:-moz-placeholder { /* Firefox 18- */
   color: #969595;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #969595;  
}

:-ms-input-placeholder {  
   color: #969595;  
}

/*-------------------------------------  pagination -------------------------------*/

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
	background-color: #E4840D;
	/*border-color: #AF6F20;*/
	border-color: transparent;
	color: #E6E6E6;
}

.pagination>li>a:focus, 
.pagination>li>a:hover, 
.pagination>li>span:focus, 
.pagination>li>span:hover {
	background-color: #E4840D;
	color: #ffffff;
}

.pagination>li>a, 
.pagination>li>span {
	color: #9A6326;
	margin-left: 5px;
	border: 1px solid transparent;
}

.pagination-sm>li>a, 
.pagination-sm>li>span {
	font-size: 14px;
}

/*============================================================================
								Article
===============================================================================*/

.blog-item {
	background-color: #ffffff;
	/*border: 1px solid #f1f1f1;*/
	margin-bottom: 5px;
	padding: 30px;
}

.blog-item p {
	font-size: 13px;
	line-height: 1.75em;
	text-transform: capitalize;
}

	.blog-item p a {
		color: #286090;
		font-size: 13px;
		padding: 0px 3px;
	}

.blog-item p a:hover {
	color: #000;
}

.blog-item p time {
	padding-left: 3px;
}

.blog-item h1 {
	font-size: 25px;
	margin-top: 10px;
}

.single-blog-item,
.author {
	background-color: #ffffff;
	margin-bottom: 30px;
	padding: 0px 45px;
	text-align: justify;
}

.single-blog-item h1 {
	margin: 20px 0px;
    text-transform: uppercase;
}

.single-blog-item p a:hover {
	color: #337ab7;
}


.single-blog-item .list-item {
    margin: 35px 0px;
	background-size: cover;

}
.ellips-text-3 {
	display: -webkit-box;
	height: 62px;
	line-height: 1.2;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}
.single-blog-item .item-info {
	background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding: 30px 0px;
}

.single-blog-item .item-info img {
    margin-bottom: 20px;
}

.related-articles {
    width: 75%;
}

.related-articles .alert-info {
    background-color: transparent;
    border-color: #CB8833;
}

.related-articles .alert-info a {
	color: #556B2F;
}

.related-articles .alert-info a:hover {
	color: #000;
}

.advertisement {
    margin: 30px 0px;
}


.feedback h1,
.comment-post h1 {
	margin-bottom: 20px;
	margin-top: 130px;
}
i.glyphicon {
	margin-right: 10px;
}

ul.blog-ic li span {
	font-size: 14px;
	font-family: 'Raleway-Regular';
	color: #999;
}

ul.blog-ic li a:hover {
	color: #190608;
}

.btn-clipboard {
	position: absolute;
	top: 0;
	text-align: center;
	margin-top: 1px ;
	margin-right: 395px;
	right: 0;
	z-index: 10;
	display: block;
	padding: 5px 8px;
	font-size: 12px;
	color: #969595;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #f1f1f1;
}

.btn-clipboard:hover {
	color:#969595;
	background-color:#f1f1f1;
}

.cmnt-clipboard {
	display: block;
	position: relative;
}

.well {
	background-color: #fcf8e3;
	border: 1px solid #286090;
	border-radius: 0px;
	box-shadow: none;
	margin-bottom: 30px;
	width: 65%;
}

.comment-info {
    margin-top: 5px;
}

.comment-info strong {
	color: #000000;
	font-size: 15px;
}

.comment-info span {
	font-size: 11px;
	margin-left: 5px;
	text-transform: uppercase;
}


/*===============================================================================
								Design Inspiration
===================================================================================*/

.page-content {
    margin-top: 35px;
}

.header-wrapper {
    padding: 4em 0em;
    /*background-color: rgba(0, 0, 0, 0.77);*/
	background-size: contain;
}

#designInspirationPage .page-head {
	background: url(/assets/img/h24.jpg);
	background-position: bottom;
	background-attachment: scroll;
	background-size: cover;
	height: 300px;
	margin-top: 24px;
}

.header-wrapper h1 {
    color: #fff;
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-shadow: none;
}

.header-wrapper .search-widget {
	margin: 15px auto;
	width: 80%;
}

.header-wrapper .search-widget .input-group .form-control {
	padding: 10px 20px;
}

.design-inspiration-item {
    background-color: #ffffff;
    border: 1px solid #dadada;
    box-shadow: none;
    margin-bottom: 35px;
    min-height: 265px;
}

.design-inspiration-item:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.design-inspiration-item:hover img {
    opacity: 0.8;
}

.design-inspiration-item figcaption {
    padding: 15px 20px;
    text-align: center;
}

.design-inspiration-item figcaption h3 {
    font-weight: 400;
    margin: auto;
    /*text-shadow: 1px 1px 0 #F2F2F2,1px 2px 0 #b1b1b2;*/
}

@media(min-width: 615px) and (max-width: 767px) {
	.page-content article.col-xs-12 {
		width: 50%;
	}

	.design-inspiration-item {
		min-height: 317px;
	}
}

/*===========================================================================
					7. Single Design Inspiration
===========================================================================---*/

#galleryContent {
	padding: 0px;
	-moz-column-count: 4;
	-moz-column-gap: 0px;
	-webkit-column-count: 4;
	-webkit-column-gap: 0px;
	column-count: 4;
	column-gap: 0px;
}

#galleryContent img{
	display: inline-block;
	margin-bottom: 0px;
	padding: 2px;
	width: 100%;
}

.gallery-item {
    position: relative;
}

.gallery-item-zoom {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.75);
    display: none;
}

.item-zoom {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
}

.gallery-item-zoom .item-zoom i {
    font-size: 40px;
    color: #fff;
}

.gallery-item:hover .gallery-item-zoom {
    display: block;
}

a#loadGallery {
    margin-top: 30px;
}

@media only screen and (max-width : 1200px),
only screen and (max-device-width : 1200px){
	#galleryContent {
		-moz-column-count: 3;
		-moz-column-gap: 0px;
		-webkit-column-count: 3;
		-webkit-column-gap: 0px;
		column-count: 3;
		column-gap: 0px;
	}
}

@media only screen and (max-width : 767px),
only screen and (max-device-width : 767px){
	#galleryContent {
		-moz-column-count: 2;
		-moz-column-gap: 0px;
		-webkit-column-count: 2;
		-webkit-column-gap: 0px;
		column-count: 2;
		column-gap: 0px;
		/*width: 600px;*/
	}
}

@media only screen and (max-width : 550px),
only screen and (max-device-width : 550px){
	#galleryContent {
		-moz-column-count: 1;
		-moz-column-gap: 0px;
		-webkit-column-count: 1;
		-webkit-column-gap: 0px;
		column-count: 1;
		column-gap: 0px;
	}
}

/*================================================================================
								Resource Page
=================================================================================*/

#resourcePage main,
#designInspirationPage main {
	margin-top: 50px;

}

#resourcePage .page-head {
	/*background: url(../img/h20.jpg) no-repeat;*/
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 110%;
	background-attachment: fixed;
	margin-top: 0px;
}

#resourcePage article,
#aboutPage article {
	background-color: #ffffff;
	margin-bottom: 30px;
	padding: 30px 45px;
}

#resourcePage article h1,
#aboutPage article h1 {
    margin-bottom: 15px;
    font-size: 36px;
}

.resource-item {
    padding: 35px 0px;
    border-top: 1px dotted;
}

.resource-item h3 {
    margin-top: 0px;
    margin-bottom: 20px;
}

#resourcePage .related-articles {
    width: 50%;
}

/*=================================================================================
							About page
===================================================================================*/

#aboutPage article {
	text-align: justify;
}

#aboutPage article h1 {
	border-bottom: 1px dashed #737777;
	padding-bottom: 5px;
}

/*================================================================================
								privacy page
=================================================================================*/

.privacy-item {
    padding: 8px 0px;      
}

/*==============================================================================
								Contact page
================================================================================*/

#map-canvas {
    width: 100%;
    height: 400px;
}

.contact-form {
    margin-top: 35px;
}

.contact-form h1 {
    margin-bottom: 10px;
}

/*=============================================================================
								Sidebar
=================================================================================*/

.sidebar {
	position: relative;
}

.search-widget{
	margin-bottom: 15px;
}

.search-widget .input-group .form-control,
.subscribe-widget .input-group .form-control {
	background-color: #ffffff;
	/*border: 1px solid #CACACA;*/
	border: transparent;
	border-radius: 0px;
	box-shadow: none;
	height: auto;
	padding: 14px 28px;
}
.search-widget .input-group a.input-group-addon,
.subscribe-widget .input-group a.input-group-addon {
	border: none;
	border-radius: 0px;
    color: #E4840D;
    background-color: #1E1E1E;
}

.template-images {
	position: relative;
	display: block;
}

.template-images .overlay {
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    top: 0;
}

.subscribe-widget {
 	margin: 28px 0px;
}

.subscribe-widget h4 {
	font-size: 20px;
	margin-bottom: 12px;
}

.social-share {
	padding: 0;
}

.social-share li {
    display: inline-block;
    margin-right: 8px;
}

.social-share:last-child {
	margin-right: 0px;
}

.share-widget .social-share li a i, 
footer .social-share li a i {
	background-color: #ffffff;
	border: 1px solid #000000;
	border-radius: 0px;
	color: #000000;
	font-size: 15px;
	font-weight: 100;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	-webkit-transition: all 0.75s;
	-moz-transition: all 0.75s;
	-ms-transition: all 0.75s;
	-o-transition: all 0.75s;
	transition: all 0.0.75s;
}

.share-widget .social-share li a i:hover {
	background-color: #000000;
	color: #E4840D;
}

@media(min-width: 501px) and (max-width: 991px) {
	aside {
		margin-left: 16.66666667%;
	}
}

@media (min-width: 992px) {
	.sidebar {
		position: fixed;
		left: 66.67%;
		right: 6.5%;
	}
	.col-md-8 {
		width: 98.666667%;
	}
		#resourcePage .sidebar {
		position:relative;
		left:initial;
		right:initial;
	}
}

@media (max-width: 500px) {
	aside.col-xs-8 {
		width: 100%;
	}
}

/*============================================================================
							Footer
=============================================================================*/

footer {
    background-color: #1E1E1E;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    padding: 21px 0px;
    position: absolute;
    width: 100%;
}

footer a {
    color: #D2924C;
    font-size: 16px;
    font-weight: 400;
}

footer a:hover {
    color: #E4840D;
}

footer .social-share {
    margin-top: 4px;
}

footer .social-share li a i {
	background-color: #ffffff;
	border-radius: 50%;
	border: 1px solid #1E1E1E;
}

footer .social-share li a i:hover {
    background-color: #AF6F20;
    color: #ffffff;
}

footer .footer-nav {
    float: right;
    margin-top: 10px;
}

footer .footer-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 15px;
}

@media (max-width: 767px) {
	footer {
		text-align: center;
	}
	footer .footer-nav {
		float: none;
		padding: 0px;
	}

	footer .social-share {
		margin: 20px 0px;
	}
}
.comments-details button.btn.dropdown-toggle,
.comments-details .total-comments {
    font-size: 18px;
    font-weight: 500;
    color: #5e5e5e;
}
.comments-details {
    padding: 15px 15px;
}
.comments .comments .dropdown,
.comments .dropup {
    position: relative;
}
.comments button {
    background-color: transparent;
    border: none;
}
.comments .comment-box {
    width: 100%;
    float: left;
    height: 100%;
    background-color: #FAFAFA;
    padding: 10px 10px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.comments .add-comment {
    background-color: transparent;
    border: none;
    position: relative;
    margin-bottom: 50px;
}
.comments .commenter-pic {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #fff;
    overflow: hidden;
    background-color: #fff;
}
.comments .add-comment .commenter-name {
    width: 100%;
    padding-left: 75px;
    position: absolute;
    top: 20px;
    left: 0px;
}
.comments .add-comment input {
    border-top: 0px;
    border-bottom: 1px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    outline: 0px;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    padding: 0;
    font-weight: normal;
}
.comments .add-comment input:focus {
    border-color: #03a9f4;
    border-width: 2px;
}
.comments .add-comment button[type=submit] {
    background-color: #03a9f4;
    color: #fff;
    margin-right: 0px;
}
.comments .add-comment button {
    background-color: #f5f5f5;
    margin: 10px 5px;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
}
.comments .commenter-name .comment-time {
    font-weight: normal;
    margin-left: 8px;
    font-size: 15px;
}
.comments p.comment-txt {
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 15px;
}
.comments .commenter-name {
    display: inline-block;
    position: relative;
    top: -20px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
}
.comments .comment-meta {
    font-size: 14px;
    color: #333;
    padding: 2px 5px 0px;
    line-height: 20px;
    float: right;
}
.comments .reply-box {
    display: none;
}
.comments .replied {
    background-color: #fff;
    width: 95%;
    float: right;
    margin-top: 15px;
}

/*======Responsive CSS=======*/
@media (max-width: 767px){
.comments .commenter-name {
    font-size: 13px;
    top: -5px;
}
.comments .commenter-pic {
    width: 40px;
    height: 40px;
}
.comments .commenter-name a{
  display: block;
}
.comments .commenter-name .comment-time{
  display: block;
  margin-left: 0px;
}
}