<body id="designInspirationPage">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" style="color: black;" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link"  style="color: black;" [routerLink]="['createBlog']" >Create blog</a>
       </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
        <li *ngIf="!isLogin" class="nav-item">
          <a class="nav-link " style="color: black;" [routerLink]="['login']">Login</a>
        </li>
      <li *ngIf="!isLogin" class="nav-item">
         <a class="nav-link"   [routerLink]="['register']" style="color: black;" href="#">Register</a>
      </li>
      <li *ngIf="isLogin" class="nav-item">
        <a class="navbar-brand" style="color: blue;">{{userID}}</a></li>
      <li *ngIf="isLogin" class="nav-item">
        <a class="nav-link " style="color: black; " (click)="logout()" [routerLink]="['/']">Logout</a>
      </li>
      </ul>
      </form>
    </div>
</nav>
<header class="page-head">
</header>
</body>
