
<div *ngIf="loadPage" style="text-align: center;">
    <div class="center">
      <div class="pagination" >
        <a *ngFor="let p of PageButton" routerLink="/"
          [queryParams]="{page : p}"
          [ngClass]="{'active': p == currentPage}"
          >{{p}}</a>
      </div>
    </div>
  </div>